
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-vector-pencil:before { content: '\e806'; } /* '' */
.icon-pencil-1:before { content: '\e807'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */